name: Generate

on:
  # run automatically every 24 hours
  schedule:
    - cron: "0 */24 * * *" 
  
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: Platane/snk@v2
        with:
          github_user_name: Nemesis-12
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark
          
